<footer class="futa">
    <div class="container">
            <h2>Recent Repos</h2>
        <div class="row">
            <div class="col-md-4">   <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/vick.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">vick</h5>
                      <p class="card-text">Click the link below and sample some of my projects.</p>
                      <a href="https://github.com/kamauvick/" class="btn btn-primary">view more</a>
                    </div>
                  </div></div>
            <div class="col-md-4">   <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/pet.jpeg" class="card-img-top" alt="pet">
                    <div class="card-body">
                      <h5 class="card-title">peterndungukamau</h5>
                      <p class="card-text">Click the link below and sample some of my projects.</p>
                      <a href="https://github.com/peterndungukamau" class="btn btn-primary">view more</a>
                    </div>
                  </div></div>
                  <div class="col-md-4">   <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/teka.png" class="card-img-top" alt="teka">
                        <div class="card-body">
                          <h5 class="card-title">Teka</h5>
                          <p class="card-text">Click the link below and sample some of my projects.</p>
                          <a href="https://github.com/Victorteka" class="btn btn-primary">view more</a>
                        </div>
                      </div></div>
        </div>
    </div>
     
    <p>Made with <span><i class="fa fa-heart" ></i> by Peter</span></p>
</footer>