@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  font-family: 'Lato', sans-serif;
}

#logo{
    height:50px;
}
.spacer{
  margin-top:20px;
}

.futa p{
  text-align:center;
}

.fa-heart{
  color: red;
}