@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "~font-awesome/css/font-awesome";

*{
  font-family: 'Lato', sans-serif;
}

#logo{
    height:51px;
}
.spacer{
  margin-top:20px;
  
}

.futa p{
  text-align:center;
  font-size:24px;
}

.fa-heart{
  color: red;
}